<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Guestbook</title>

    <link rel="stylesheet" href="/assets/css/style.css">

        <script>
        function goBack() {
            window.history.back();
        }
        </script>
</head>
<body>
        <form method="post" action="/" id="forma">
          Guestbook:<br>
            {% if logiran %}
             <a href="{{logout_url}}"> LOGOUT</a> <br>
            Sporocilo (obvezno): <textarea name="sporocilo" form="forma" rows="4" cols="50"> </textarea>
            <br>
            <input  type="submit" value="Submit" >
            <br>
            <br>
            {% if napaka %} {{ napaka }}
             <button onclick="goBack()">Pojdi nazaj</button>
            {% else %}
                {% for vnos in vnosi %}
                 <a href="/vnos/{{vnos.key.id()}}">{{vnos.ime}}</a> <br>
                {% endfor %}
            {% endif %}
            {% else %}
                <a href="{{login_url}}"> LOGIN</a>
            {% endif %}
         <!--Ime in priimek (neobvezno): <input type="text" name="ime"><br> -->

            <br>

</form>
</body>
</html>